* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
}

.container {
    z-index: 1;
    width: 100%;
    height: auto;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 80px;
}


/* postagem feita*/

.post {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 0.5px solid rgb(189, 189, 189);
    flex-direction: column;
    background-color: rgb(252, 248, 248);
}

.post>.infor {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post>.infor>.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

.post>.infor>.img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post>.postagem {
    width: 100%;
    height: auto;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post>.entreter {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.post>.entreter>.like_coment {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post>.entreter>.like_coment>img {
    width: 20px;
    height: 20px;
}

.post>.entreter>.coment_ver {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.post>.entreter>.coment_post {
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}